body {
	background-color: #e5f7de;
}

.board {
	width: 500px;
	height: 500px;
}
.rows {
	float: left;
	position: fixed;
}

.tile {
	background-color: black;
	width: 100px;
	height: 100px;
	margin: 15px;
	float: left;
}
